body{
    color: rgb(76, 107, 168);
    
    background-size: auto;
    
    text-align: center;

}

.btn{
    font-family: 'Orbitron' , sans-serif;
}

.exp{
    border-bottom: 2px solid white;
}

#hero{
  background-image: url("giphy.gif");
  background-size: cover;
  padding: 60px 0 160px 0;
}

h3{
    color: rgb(41, 100, 167);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}